/*
*.swp

!.vimrc
!.shellrc.sh
!.emacs.d.el
!.personal_config/

!.config/
.config/*
!.config/i3/

!.config/setup_script/

!.config/nvim/
lazy-lock.json

!.config/tmux/

!.gitconfig
!.gitignore_global

!.tmux.conf
