[color]
	ui = auto
	branch = auto
	diff = auto
	status = auto
[commit]
	verbose = true
[pull]
	rebase = false
[core]
	editor = nvim
	excludesfile = ~/.gitignore_global
[difftool]
	prompt = false
	trustExitCode = true
[diff]
	tool = nvimdiff
[merge]
	tool = nvimdiff
[push]
	autoSetupRemote = true
