/*
*.swp

!.vimrc
!.shellrc.sh
!.emacs.d.el
!.personal_config/

!.config/
.config/*
!.config/i3/

!.config/rofi/
.config/rofi/*
!.config/rofi/launchers/
.config/rofi/launchers/*
!.config/rofi/launchers/colorful/
.config/rofi/launchers/colorful/colors.rasi

!.config/nvim/

!.gitconfig
!.gitignore_global

lazy-lock.json
!.tmux.conf
